html {
	font-family: 'ZCOOL+QingKe+HuangYou', cursive;
	font-size: 10px;
}

p, li {
	font-size: 25px;    
	line-height: 0.5;
	letter-spacing: 1px;  
	margin: 0;
	padding: 20px 0;    
	color: red;
	text-shadow: 3px 3px 3px green;
}

li {    
	line-height: 1;
}

.Good {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;    
	color: black;
	text-shadow: 5px 5px 5px white;
}

html {
	background-color:  purple;
}

body {
	width: 1400px;
	margin: 0 auto;
	background-color: blue;
	padding: 0 20px 20px 20px;
	border: 4px solid black;
}

.slider_slider2 {
	display: block;
	margin: 0 auto;
	width: 300px;
	text-align: right;
}

span {
	font-size: 25px;
	color: orange;
}

.pp {
	font-size: 25px;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 3px green;
	line-height: 1;
	text-align: center;
}

.aa {
	color: orange;
}

.aaa {
	font-size: 25px;
	margin: 0;
	padding: 20px 0;    
	color: orange;
	text-shadow: 3px 3px 3px green;
}

.h1head {
	font-size: 60px;
	text-align: left;
	color: yellow; 
	text-shadow: 2px 2px 1px blue;   	
}

.div_headers {
	width: 100%;
	background-color: purple;
	border: 4px solid black;
}

.header_cell_link {
	font-size: 30px;
	color: yellow;
	text-shadow: 2px 2px 1px blue; 
}

.h2_index {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;    
	color: black;
	text-shadow: 5px 5px 5px white;
}

.margin {
	padding-left: 150px;
}

.img_reseaux {
	width: 100px
}
